<div id="page-wrapper">
  <div class="container-fluid">
    <p id="notice" style="color:orange;"><%= notice %></p>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Dashboard</h2>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @users %></div>
                <div>Total Users!</div>
              </div>
            </div>
          </div>
          <a href="/admin/users">
            <div class="panel-footer">
              <span class="pull-left">Total Users</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-play fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @reels %></div>
                <div>Total Reels!</div>
              </div>
            </div>
          </div>
          <a href="/admin/reels">
            <div class="panel-footer">
              <span class="pull-left">Total Reels</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-music fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @musics %></div>
                <div>Total Musics!</div>
              </div>
            </div>
          </div>
          <a href="/admin/musics">
            <div class="panel-footer">
              <span class="pull-left">Total Musics</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-play fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @reportedReels %></div>
                <div>Total Reported Reels!</div>
              </div>
            </div>
          </div>
          <a href="/admin/reported_reels">
            <div class="panel-footer">
              <span class="pull-left">Total Reported Reels!</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-credit-card fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @payouts %></div>
                <div>Total Payouts!</div>
              </div>
            </div>
          </div>
          <a href="/admin/payouts">
            <div class="panel-footer">
              <span class="pull-left">Total Payouts</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-remove fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @deleteRequest %></div>
                <div>Total Delete Requests!</div>
              </div>
            </div>
          </div>
          <a href="/admin/delete_requests">
            <div class="panel-footer">
              <span class="pull-left">Total Delete Requests</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-certificate fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @verificationRequest %></div>
                <div>Total Verification Request!</div>
              </div>
            </div>
          </div>
          <a href="/admin/verification_requests">
            <div class="panel-footer">
              <span class="pull-left">Total Verification Request!</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @orders %></div>
                <div>Total Orders!</div>
              </div>
            </div>
          </div>
          <a href="/admin/orders">
            <div class="panel-footer">
              <span class="pull-left">Total Orders!</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
