<!-- Show Music Details -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Music Details</h2>
      </div>
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead>
              <th>Id</th>
              <th>Title</th>
              <th>Music URL</th>
              <th>Image URL</th>
              <th>Singer</th>
              <th>Created At</th>
          </thead>
          <tbody>
              <td><%= @music.id %></td>
              <td><%= @music.title %></td>
              <td> 
                <audio controls>
                  <source src="<%= @music.music_url %>">
                    Your browser does not support the audio element.
                  </audio> 
              </td>
              <td><img style="width: 60px;" src="<%= @music.image_url %>" onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2014/03/24/17/21/wrong-295503_640.png';" /></td>
              <td><%= @music.singer %></td>
              <td><%= @music.created_at.strftime("%d/%m/%y %I:%M %p") %></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
