<!-- Show Music Details -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Music Details</h2>
      </div>
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead>
              <th>Title</th>
              <th>Music URL</th>
              <th>Image URL</th>
              <th>Singer</th>
              <th>Created At</th>
          </thead>
          <tbody>
              <td><%= @music.title %></td>
              <td><%= @music.music_url %></td>
              <td><%= @music.image_url %></td>
              <td><%= @music.singer %></td>
              <td><%= @music.created_at.strftime("%d/%m/%y %I:%M %p") %></td>
          </tbody>
        </table>
        <%= link_to 'Edit', edit_admin_music_path(@music), class: 'btn btn-primary' %>
        <%= link_to 'Back', admin_musics_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
