<!-- Reels Details Page -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Reels Details</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Video Section -->
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls>
            <source src="<%= @reel.videoUrl %>">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Data Section -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Music ID</th>
              <th>Description</th>
              <th>Hashtags</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @reel.id %></td>
              <td><%= @reel.music_id %></td>
              <td><%= @reel.description %></td>
              <td><%= @reel.hastags %></td>
              <td><%= @reel.category %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Like Count</th>
              <th>View Count</th>
              <th>Report Count</th>
              <th>Creator ID</th>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @reel.like_count %></td>
              <td><%= @reel.view_count %></td>
              <td><%= @reel.report_count %></td>
              <td><a href="/admin/users/<%= @reel.creater_id %>"><%= @reel.creater_id %></a></td>
              <td><%= @reel.is_approved %></td>
            </tr>
          </tbody>
        </table>
        <h2>Comments</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Comment Id</th>
              <th>Comment Content</th>
              <th>User Id</th>
            </tr>
          </thead>
          <tbody>
            <% @reel.comments.each do |comment| %>
              <tr>
                <td><%= comment.id %></td>
                <td><%= comment.content %></td>
                <td><%= comment.user_id %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
